.circle{
    width: 600px;
    height: 600px;
    border-radius: 9999px;
    background-color: aqua;
    background-image: url(baraban.png);
    background-position: center;
    background-size: cover;

    transition: 5s;
    transition-timing-function: ease-in-out;
}

p{
    position: relative;
    left: 290px;
    font-size: 60px;
}